/* membuat elemen h1 berwarna merah */
h1 {
    color: red;
    font-size: 30px;
}
/* untuk h2 warna biru ukuran font 25px */
h2 {
    color: blue;
    font-size: 25px;
}
/* untuk elemen p berwarna hijau ukuran font 20px  */
p {
    color: green;
    font-size: 20px;
}